html {
  scroll-behavior: smooth;
}
body {
  position: relative;
}
/* Navigation Start */
#hero {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../images/road2s.jpg");
  background-size: cover;
  background-position: 50%;
  box-shadow: 0 5px 15px 0px lightslategrey;
}

#brand {
  font-size: 2.3em;
  color: white;
  font-family: "Spectral", serif;
}

.navlinks li a {
  color: white;
  font-size: 1em;
  font-family: "Spectral", serif;
}

.burger {
  color: white;
}

.welcome {
  text-align: center;
  color: white;
  margin-top: 11%;
}

.welcome h2 {
  color: white;
  font-size: 3em;
  font-family: "Karla", sans-serif;
}

.hire {
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  border: white 1px solid;
  border-radius: 10px;
  font-family: "Karla", sans-serif;
}

.hire:hover {
  background-color: #555;
  color: white;
}
/* Navigation End */

/* About Section */
#portfolio-image {
  border-radius: 100px;
  margin: 3em 0;
}

#about-me {
  font-size: 1.2em;
  font-family: "Karla", sans-serif;
}
#about-me h1 {
  font-family: "Spectral", serif;
}

/* About Section End */

/* Portfolio Section */
/* #portfolio {
  padding-bottom: 80px;
} */

#portfolio h1 {
  font-family: "Spectral", serif;
}

.project-thumb a {
  border-radius: 8px;
}

.project-thumb {
  position: relative;
  padding-left: 0 !important;
  font-family: "Karla", sans-serif;
}

.image {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.project-thumb:hover .overlay {
  opacity: 0.9;
}

.project-thumb:hover .title {
  opacity: 0;
}

.app-details {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* uk-overlay */
.uk-overlay {
  padding: 9px 20px 7px 15px;
  opacity: 0;
  transition: 0.5s ease;
}
.project-thumb:hover .uk-overlay {
  opacity: 1;
}
/* Portfolio Section End */

/* Contact */
#contact {
  height: 25vh;
  padding-top: 4em;
  padding-bottom: 3em;
  font-family: "Karla", sans-serif;
}

#contact h1 {
  font-family: "Spectral", serif;
}

#contact a {
  font-weight: bold;
  text-decoration: none;
  text-decoration-color: initial;
}

.email {
  padding-left: 7px;
}

#mail-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0 1em;
  font-size: 1em;
  min-width: 10em;
  transition: all 0.25s ease;
}

#mail-btn:hover {
  filter: blur(0.5px);
  font-size: 1.1em;
  background-color: #222;
  color: white;
}

/* Footer and scroll to top */
footer {
  padding: 65px 0 30px 0;
  color: white;
  /* background-color: #202f56; */
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer h1 {
  color: white;
  font-family: "Spectral", serif;
  padding-bottom: 10px;
}

.scroll-to-top {
  background-color: #000000;
  border-radius: 2px;
  /* display: none; */
  position: fixed;
  right: 35px;
  top: 94%;
  text-align: center;
  z-index: 999;
}

.scroll-to-top i {
  color: #ffffff;
  font-size: 18px;
  margin: 0 6px;
}
